//@import 'layout-preset.css';

header {
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    padding: 10px 0;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 10px -5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 10px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 10px -5px rgba(0, 0, 0, 0.2);
    z-index: 2;

    .cnt-nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cnt-hdr-items {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-items: center;

        .cnt-logo {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 150px;

            img,
            a {
                width: 100%;
            }
        }

        .logo-mob {
            display: none;
        }

        .cnt-btn-filter {
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: 10px;
            border: 1px solid #ececec;
            -webkit-box-shadow: 0px 0px 8px 5px rgba(121, 121, 121, 0.1);
            -moz-box-shadow: 0px 0px 8px 5px rgba(121, 121, 121, 0.1);
            box-shadow: 0px 0px 8px 5px rgba(121, 121, 121, 0.1);
            cursor: pointer;

            .btn-filter {
                width: 20px;
                height: 20px;
            }
        }
    }

    ul.ul-log-reg {

        position: absolute;
        display: flex;
        width: max-content;
        flex-direction: row;
        gap: 20px;
        list-style-type: none;
        margin: 0 !important;

        li {
            display: flex;
            align-items: center;
            gap: 5px;

            &:hover .ico-login {
                background: url("../img/ico/login/login.svg") no-repeat center/contain;
            }

            &:hover .ico-reg {
                background: url("../img/ico/login/register.svg") no-repeat center/contain;
            }

            &:hover span {
                color: #4b5663;
                /* transition: 0.4s ease-in-out; */
            }
        }

        .ico-log {
            width: 30px;
            height: 30px;
        }

        .ico-login {
            background: url("../img/ico/login/login-lgt.svg") no-repeat center/contain;
        }

        .ico-reg {
            background: url("../img/ico/login/register-lgt.svg") no-repeat center/contain;
        }

        a {
            font-weight: 600;
            text-decoration: none;
            color: grey;
            font-size: 0.9em;
        }
    }

    .container-src {
        display: none;
    }
}

.cnt-result-adress {
    position: relative;
    width: 100%;
    top: 0;
    background: #fff;
    z-index: 1;
    padding: 0 20px;

    .cnt-items {
        width: 50%;
        margin: 0 auto;
        border-bottom: 1px solid #e6e6e6;

        &:hover {
            transition: 0.5s ease-in-out;
            background-image: linear-gradient(to bottom,
                    transparent 93%,
                    #7174b6 0%);
        }

        &:hover a {
            color: #7174b6;
            transition: 0.5s ease-in-out;
        }

        a {
            width: 100%;
            display: block;
            color: grey;
            text-decoration: none;
            padding: 20px;
        }
    }
}

.search {
    display: flex;
    position: relative;
    width: 500px;
    height: 50px;
    border-radius: 30px;
    align-items: center;
    padding: 0 20px;
    background-color: #fff;
    border: 1px solid #ececec;
    -webkit-box-shadow: 0px 0px 8px 5px rgba(121, 121, 121, 0.1);
    -moz-box-shadow: 0px 0px 8px 5px rgba(121, 121, 121, 0.1);
    box-shadow: 0px 0px 8px 5px rgba(121, 121, 121, 0.1);
    gap: 20px;

    .cnt-lens,
    .cnt-fine {
        width: 30px;
        height: 30px;
    }

    .cnt-lens {
        background: url(../../../public/img/lente.svg) no-repeat center;
    }

    .contStringSrc {
        width: 100%;
        background-color: transparent;
        color: black;
        text-align: left;

        & input {
            border: 0;
            -webkit-appearance: none;
            width: 100%;
            padding: 0;
            margin: 0;
            outline: none;
            text-align: left;
            border: 0;
        }
    }

    .cnt-fine {
        background-color: rgba(153, 51, 0, 1);
        background: url(../../../public/img/fineIcon.svg) no-repeat center;
    }
}

@media only screen and(max-width:1024px) {
    #btn-hamburger {
        display: block;
        position: absolute;
        width: 40px;
        height: 30px;
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        cursor: pointer;
    }

    #btn-hamburger span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #7174b6;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        cursor: pointer;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
    }

    #btn-hamburger span:nth-child(1) {
        top: 0px;
    }

    #btn-hamburger span:nth-child(2),
    header #btn-hamburger span:nth-child(3) {
        top: 12px;
    }

    #btn-hamburger span:nth-child(4) {
        top: 24px;
    }

    #btn-hamburger.open span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
    }

    #btn-hamburger.open span:nth-child(2) {
        transform: rotate(45deg);
    }

    #btn-hamburger.open span:nth-child(3) {
        transform: rotate(-45deg);
    }

    #btn-hamburger.open span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
    }
}

@media only screen and(max-width:890px) {
    header {
        .cnt-hdr-items {
            .cnt-logo {
                width: 55px;
            }
        }
    }

    .logo-desk {
        display: none;
    }

    .logo-mob {
        display: block !important;
    }

    .container-src {
        display: flex;
        align-items: center;
        justify-content: center;

        .cnt-hdr-src {
            width: 100%;

            .search {
                width: 100%;
                max-width: 500px;
                margin: 0 auto;
            }
        }
    }

    .cnt-result-adress {
        .cnt-items {
            width: 100%;
        }
    }
}

@media only screen and(max-width:740px) {
    .cnt-search {
        display: none;
    }
}

@media only screen and(max-width:650px) {
    header {
        .cnt-hdr-items {
            .cnt-logo {
                width: 55px;
            }
        }

        .cnt-search {
            display: none;
        }

        .container-src {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 20px !important;

            .cnt-hdr-src {
                width: 100%;

                .search {
                    width: 100%;
                    max-width: 500px;
                    margin: 0 auto;

                    .contStringSrc {
                        input {
                            font-size: 0.8em;
                        }
                    }
                }
            }
        }
    }

    .logo-desk {
        display: none;
    }

    .logo-mob {
        display: block !important;
    }
}