@import url("layout-preset.css");

header {
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.26);
    z-index: 2;

    .cnt-hdr-items {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-between;

        .cnt-ttl {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 20px;
            font-size: 2em;
            color: #4b5663;
        }
    }

    .cnt-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 100%;

        img,
        a {
            width: 100%;
        }
    }
}

.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 220px);
    padding: 30px 50px;
    -webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px 5px rgba(150, 150, 150, 0.2);
    row-gap: 20px;
}

.main-slct-item-card {
    justify-content: center;
    display: flex;
    position: absolute;
    width: calc(100% - 220px);
    align-items: center;
    left: 220px;
    padding: 130px 0 0 !important;

    .cnt-btn {
        justify-content: center;
        gap: 10px;

        button {
            border: 0;
            padding: 10px;
            cursor: pointer;
        }
    }

    .cnt-slct-btn {
        position: fixed;
        width: calc(100% - 220px);
        top: 80px;
        background-color: #fff;
        border-bottom: 1px solid #e0e0e0;
        padding: 10px;
        z-index: 1;
    }
}

main {
    .sidebar {
        width: 220px;
        height: 100%;
        position: fixed;
        padding: 50px 0 0;
        top: 80px;
        left: 0;
        background-color: #38383f;
        background-color: #fff;
        border-right: 1px solid #dbdbdb;
    }

    .main-slct-item {
        display: flex;
        position: absolute;
        width: calc(100% - 220px);
        flex-direction: column;
        align-items: center;
        left: 220px;
        padding: 180px 0 100px;

        /* background-color: palegreen; */
        .cnt-slct-btn {
            position: fixed;
            width: calc(100% - 220px);
            top: 80px;
            background-color: #fff;
            border-bottom: 1px solid #e0e0e0;
            padding: 10px;
            z-index: 1;
        }

        .cnt-item-dash,
        .cnt-item-details {
            display: flex;
            flex-direction: column;
            width: 90%;
            padding: 30px 50px;
            max-width: 1170px;
            -webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 10px 5px rgba(150, 150, 150, 0.2);

            /* background-color: palevioletred; */
            .cnt-row {
                display: flex;
                align-items: center;
                gap: 5px;
                padding: 20px 0;
                border-bottom: 1px solid #dbdbdb;
            }

            .cnt-service {
                display: flex;
                width: 100%;
                flex-direction: row;
                gap: 15px;
                align-items: center !important;
                padding: 20px 0px;

                .cnt-items-services {
                    display: flex;
                    gap: 15px;
                    flex-wrap: wrap;

                    .cnt-item-service {
                    }
                }
            }
        }

        .cnt-item-details {
            h3,
            p {
                color: #707070;
            }
        }

        .cnt-img {
            display: flex;
            width: 200px;
            height: 120px;
            flex-direction: column;
            gap: 10px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .cnt-table {
            display: flex;
            flex-direction: column;
            width: 100%;
            /* border: 1px solid #dddddd; */
        }

        .main-columns,
        .main-body-th {
            display: flex;
            justify-content: center;
            padding: 20px 0;
            border-bottom: 1px solid #dbdbdb;
        }

        .cnt-column {
            display: flex;
            flex-direction: column;
        }

        .cnt-th {
            display: flex;
            align-items: center;
            padding: 10px;
            justify-content: center;
            /* &:nth-child(even) {
        background-color: #dddddd;
      } */
        }

        .cnt-btn {
            justify-content: center;
            gap: 10px;

            button {
                border: 0;
                padding: 10px;
                cursor: pointer;
            }
        }

        button {
            background-color: #8da1b3;
            color: #4b5663;
            font-weight: 600;
            color: #fff;
            transition: 0.3s ease-in-out;

            &:hover {
                background-color: #4b5663;
                transition: 0.3s ease-in-out;
            }
        }

        .btn-modify {
            border: none;
            width: max-content;
            padding: 10px;
            margin: 0 auto;
            cursor: pointer;
        }

        input[type="text"],
        input[type="number"],
        select {
            width: max-content;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
    }

    /* .main-details {
    padding: 180px 0;
  } */
}

.cnt-btns {
    justify-content: center;
    gap: 10px;

    .cnt-btn {
        display: flex;
        border: 0;
        padding: 5px;
        border: 1px solid #e1e1e1;
        border-radius: 10px;
        cursor: pointer;

        &:hover .btn-show {
            background: url("../img/ico/dashboard/ico-show.svg") no-repeat
                center/contain;
        }

        &:hover .btn-modify {
            background: url("../img/ico/dashboard/ico-modify.svg") no-repeat
                center/contain;
        }

        &:hover .btn-delete {
            background: url("../img/ico/dashboard/ico-delete.svg") no-repeat
                center/contain;
        }

        &:hover .btn-msg {
            background: url("../img/ico/dashboard/ico-msg.svg") no-repeat
                center/contain;
        }

        &:hover .btn-add {
            background: url("../img/ico/dashboard/ico-add.svg") no-repeat
                center/contain;
        }

        &:hover .btn-home {
            background: url("../img/ico/dashboard/ico-dash.svg") no-repeat
                center/contain;
        }

        &:hover .btn-ads {
            background: url("../img/ico/dashboard/ico-ads.svg") no-repeat
                center/contain;
        }

        &:hover .btn-stcs {
            background: url("../img/ico/dashboard/ico-stcs.svg") no-repeat
                center/contain;
        }

        .btn {
            width: 25px;
            height: 25px;
            border: 0;
            cursor: pointer;
        }

        .btn-show {
            background: url("../img/ico/dashboard/ico-show-lgt.svg") no-repeat
                center/contain;
        }

        .btn-modify {
            background: url("../img/ico/dashboard/ico-modify-lgt.svg") no-repeat
                center/contain;
        }

        .btn-delete {
            background: url("../img/ico/dashboard/ico-delete-lgt.svg") no-repeat
                center/contain;
        }

        .btn-msg {
            background: url("../img/ico/dashboard/ico-msg-lgt.svg") no-repeat
                center/contain;
        }

        .btn-add {
            background: url("../img/ico/dashboard/ico-add-lgt.svg") no-repeat
                center/contain;
        }

        .btn-home {
            background: url("../img/ico/dashboard/ico-dash-lgt.svg") no-repeat
                center/contain;
        }

        .btn-ads {
            background: url("../img/ico/dashboard/ico-ads-lgt.svg") no-repeat
                center/contain;
        }

        .btn-stcs {
            background: url("../img/ico/dashboard/ico-stcs-lgt.svg") no-repeat
                center/contain;
        }
    }
}

.button-disabled {
    cursor: not-allowed;
    pointer-events: none;
}
ul.ul-log-reg {
    position: absolute;
    display: flex;
    width: max-content;
    gap: 20px;
    list-style-type: none;
    margin: 0 !important;

    li {
        display: flex;
        align-items: center;
        gap: 5px;

        &:hover .ico-login {
            background: url("../img/ico/login/login.svg") no-repeat
                center/contain;
        }

        &:hover .ico-reg {
            background: url("../img/ico/login/register.svg") no-repeat
                center/contain;
        }

        &:hover span {
            color: #4b5663;
            /* transition: 0.4s ease-in-out; */
        }
    }

    .ico-log {
        width: 30px;
        height: 30px;
    }

    .ico-login {
        background: url("../img/ico/login/login-lgt.svg") no-repeat
            center/contain;
    }

    .ico-reg {
        background: url("../img/ico/login/register-lgt.svg") no-repeat
            center/contain;
    }

    a {
        font-weight: 600;
        text-decoration: none;
        color: grey;
        font-size: 0.9em;
    }
}

.cnt-ul {
    /* background-color: coral; */
    ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin: 0 auto;
        padding: 0 0 0 20px;

        li {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            /* transition: 2s ease-in-out;
  transition: all 4s ease-in-out; */
            transition: 4s ease-in-out;

            &:hover .aprt {
                background: url("../img/ico/dashboard/ico-dash.svg") no-repeat
                    center/contain;
            }

            &:hover .msg {
                background: url("../img/ico/dashboard/ico-msg.svg") no-repeat
                    center/contain;
            }

            &:hover .ads {
                background: url("../img/ico/dashboard/ico-ads.svg") no-repeat
                    center/contain;
            }

            &:hover .stcs {
                background: url("../img/ico/dashboard/ico-stcs.svg") no-repeat
                    center/contain;
            }

            &:hover a {
                color: #4b5663;
                transition: 0.4s ease-in-out;
            }

            a {
                text-decoration: none;
                color: #9cb0c1;
                font-size: 1.2em;
            }

            .ico {
                width: 30px;
                height: 30px;
                background-color: violet;
            }

            .aprt {
                background: url("../img/ico/dashboard/ico-dash-lgt.svg")
                    no-repeat center/contain;
            }

            .msg {
                background: url("../img/ico/dashboard/ico-msg-lgt.svg")
                    no-repeat center/contain;
            }

            .ads {
                background: url("../img/ico/dashboard/ico-ads-lgt.svg")
                    no-repeat center/contain;
            }

            .stcs {
                background: url("../img/ico/dashboard/ico-stcs-lgt.svg")
                    no-repeat center/contain;
            }
        }
    }
}

/* CARDS-SPONSOR */
.main-heading-ads {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 100px;

    .cnt-heading {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0 50px;

        h1 {
            color: #7174b6;
        }

        h2,
        h3,
        p {
            color: #626262;
        }

        p {
            font-size: 1.2em;
        }
    }

    .main-cards-ads {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 50px;
        gap: 25px;

        .box-card-ads {
            display: flex;
            flex-direction: column;
            position: relative;
            width: calc(100% / 3 - 25px);
            max-width: 300px;
            padding: 30px 0 80px;
            margin: 0 auto;
            gap: 20px;
            background-color: #65717b;
            text-align: center;
            overflow: hidden;
            border-radius: 20px;
            border: 1px solid #dfdfdf;
            -webkit-box-shadow: 0px 0px 10px 5px rgba(150, 150, 150, 0.2);
            -moz-box-shadow: 0px 0px 10px 5px rgba(150, 150, 150, 0.2);
            box-shadow: 0px 0px 10px 5px rgba(150, 150, 150, 0.2);

            .picture {
                position: relative;
                display: inline-block;
                height: 130px;
                width: 130px;
                margin: 0 auto 20px;
                z-index: 1;

                &::before {
                    content: "";
                    width: 100%;
                    height: 0;
                    border-radius: 50%;
                    background-color: #8ba6c4;
                    position: absolute;
                    bottom: 135%;
                    right: 0;
                    left: 0;
                    opacity: 0.9;
                    transform: scale(3);
                    transition: all 0.3s linear 0s;
                }

                .pic-ads {
                    background-color: #fff;
                    width: 100%;
                    height: 100%;
                    box-shadow: 0 0 0 3px #f7f5ec;
                    transform: scale(0.7);
                    border-radius: 50%;
                }

                .gold {
                    background: url("../img/ico/ads-gold.svg") no-repeat
                            center/contain,
                        linear-gradient(to right, #fff, #fff);
                }

                .silver {
                    background: url("../img/ico/ads-silver.svg") no-repeat
                            center/contain,
                        linear-gradient(to right, #fff, #fff);
                }

                .bronze {
                    background: url("../img/ico/ads-bronze.svg") no-repeat
                            center/contain,
                        linear-gradient(to right, #fff, #fff);
                }
            }

            &:hover .picture::before {
                height: 100%;
            }

            .cnt-txt-ads {
                display: flex;
                flex-direction: column;
                gap: 5px;

                h2 {
                    color: #fdd5a1;
                }

                h4 {
                    color: #fff;
                }
            }

            .ico-ads {
                display: flex;
                padding: 10px;
                justify-content: center;
                width: 100%;
                margin: 0;
                background-color: #313131;
                position: absolute;
                bottom: -100px;
                left: 0;
                transition: all 0.5s ease 0s;

                li {
                    display: inline-block;

                    a {
                        display: block;
                        padding: 10px;
                        font-size: 17px;
                        color: white;
                        transition: all 0.3s ease 0s;
                        text-decoration: none;
                    }

                    .ico {
                        width: 30px;
                        height: 30px;
                        background-color: lightgray;
                    }

                    .ico-lnkd {
                        background: url("../img/ico/ico-lnkd.svg");
                    }
                }
            }

            &:hover .social {
                bottom: 0;
            }
        }
    }
}

.cnt-btn-cta {
    display: flex;
    justify-content: center;

    a {
        text-decoration: none;
    }

    .btn-cta {
        text-align: center;
        position: relative;
        display: block;
        width: 150px;
        border: none;
        background-color: #7174b6;
        padding: 10px;
        border-radius: 30px;
        color: white;
        cursor: pointer;
        font-size: 1.1em;
        font-weight: 600;
        transition: 0.3s ease-in-out;
    }

    .btn-cta:hover {
        box-shadow: 0px 0px 0px 0px rgb(0, 0, 0),
            0px 0px 5px 4px rgb(189, 189, 189);
        transform: scale(1.1);
        background-image: linear-gradient(180deg, #8b9cf2, #5870f0);
        background-image: linear-gradient(180deg, #8b9cf2, #5870f0);
        background-image: linear-gradient(180deg, #8b9cf2, #5870f0);
        background-image: linear-gradient(180deg, #8b9cf2, #5870f0);
        background-image: linear-gradient(180deg, #2137a6, #6e83f4);
        background-image: linear-gradient(180deg, #7174b6, #9ca0f7);
        /* filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=$secondgradientcolor, endColorstr=$firstgradientcolor); */
        box-shadow: 5px 6px 15px 0 rgba(179, 179, 179, 0.5);
        box-shadow: 0px 0px 15px 0 rgba(179, 179, 179, 0.5);
        box-shadow: 0 11px 16px -3px rgba(45, 35, 66, 0.3),
            0 4px 5px 0 rgba(45, 35, 66, 0.4), inset 0 -2px 0 0 #4b58ba;
        transform: translateY(-2px);
    }
}

/* CARDS-SPONSOR */

/* PAYMENT */
.cnt-pay {
    display: flex;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    flex-direction: column;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 8px 5px rgba(43, 43, 43, 0.12);
    -moz-box-shadow: 0px 0px 8px 5px rgba(43, 43, 43, 0.12);
    box-shadow: 0px 0px 8px 5px rgba(43, 43, 43, 0.12);

    .cnt-type-ads {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 30px;
    }

    .ico-ads {
        width: 110px;
        height: 110px;
        padding: 10px;
        border: 1px solid gray;
        border-radius: 50%;
    }

    .cnt-txt-card {
        display: flex;
        gap: 10px;
        border-bottom: 1px solid rgb(197, 197, 197);
        padding: 10px 0;

        &:nth-child(6) {
            margin-bottom: 30px;
        }

        span,
        p {
            font-weight: 900;
        }

        p {
            color: #6e83f4;
        }
    }
}

/* PAYMENT */

/* SUCCESS */

.wrapSuccess {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
}

.opacity-in {
    -webkit-animation-name: opacityIn;
    -webkit-animation-duration: 2s;
    animation-name: opacityIn;
    animation-duration: 2s;
}

@-webkit-keyframes opacityIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes opacityIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.contSuccess {
    position: absolute;
    width: 90%;
    height: 450px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: white;
    max-width: 600px;
    padding: 10px;

    .iconSuc {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin: -70px auto 0;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    }

    .logoBool {
        background: url(../img/pitto.svg) no-repeat center/contain #fff;
    }

    .logoSuc {
        width: 60px;
        height: 60px;
        margin: 30px auto 20px;
        background: url(../img/success.svg) no-repeat center/contain;
        box-shadow: none;
    }

    .textSuccess h1 {
        font-size: 2em;
        text-align: center;
        margin: 10px auto;
    }

    .textSuccess p {
        margin: 25px 0;
        line-height: 1.5em;
        text-align: center;
        font-size: 1.3em;
    }
}

.animate-top {
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 3s;
    animation-name: animatetop;
    animation-duration: 3s;
}

@-webkit-keyframes animatetop {
    from {
        top: -1000px;
        opacity: 0;
    }

    to {
        top: 50%;
        opacity: 1;
    }
}

/* SUCCESS */

/* VIEWS-CHART */

.cnt-chart {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;

    &:nth-child(1) {
        margin-bottom: 50px;
    }
}

/* VIEWS-CHART */
@media screen and (max-width: 1250px) {
    .sidebar {
        display: none;
    }

    main {
        .main-slct-item {
            width: 100%;
            left: auto;

            .cnt-col-btns {
                flex-basis: calc((100% / 12) * 12);
                padding: 20px 0 0;
            }

            .cnt-item-dash {
                padding: 30px 20px;
            }

            .cnt-slct-btn {
                width: 100%;

                .cnt-btn {
                    padding: 10px;
                }
            }

            .cnt-row {
                align-items: flex-start !important;
                flex-direction: column;
            }
        }

        .main-body-th {
            .cnt-th:nth-child(4) {
                display: none;
            }
        }

        .main-columns {
            flex-wrap: wrap;
        }
    }

    .cnt-service {
        display: inherit;
        flex-direction: row;
        gap: 15px;
        align-items: center !important;
        padding: 20px;

        .cnt-items-services {
            display: flex;
            gap: 15px;
            flex-wrap: wrap;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .main-heading-ads {
        .main-cards-ads {
            .box-card-ads {
                width: calc(100% / 2 - 25px);
            }
        }
    }
}

@media only screen and (max-width: 820px) {
    .main-heading-ads {
        .cnt-heading {
            padding: 0 20px;
        }
        .main-cards-ads {
            padding: 0 20px 100px;

            .box-card-ads {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 680px) {
    header {
        .cnt-logo {
            width: 100px;
        }
    }
    .main-heading-ads {
        .cnt-heading {
            h1 {
                color: #7174b6;
                font-size: 1.9em;
            }
            h2 {
                font-size: 1.4em;
            }
            h3 {
                font-size: 1.2em;
                margin-bottom: 20px;
            }
            h2,
            h3,
            p {
                color: #626262;
            }

            p {
                font-size: 1.2em;
            }
        }
    }

    .form-container {
        height: calc(100vh + 80px);
    }

    .form-container form {
        padding: 0;
    }

    span.icon {
        left: 20px;
    }

    main {
        .main-slct-item {
            .cnt-item-details {
                padding: 30px 10px;
            }

            .main-body-th {
                display: none;
            }

            .main-columns {
                flex-direction: column;
                padding: 20px 0 0;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    main {
        .main-slct-item {
            .cnt-item-details {
                padding: 30px 10px;
            }

            .main-columns {
                flex-direction: column;
            }

            .cnt-btns {
                flex-wrap: wrap;
            }
        }
    }

    .cnt-pay {
        padding: 20px;
    }
}
