body {
  overflow-x: hidden;
}

header {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  padding: 10px 0;
  background-color: #fff;
  box-shadow: 0 4px 10px -5px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

header .cnt-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .cnt-hdr-items {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

header .cnt-hdr-items .cnt-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 150px;
}

header .cnt-hdr-items .cnt-logo img,
header .cnt-hdr-items .cnt-logo a {
  width: 100%;
}

header .cnt-hdr-items .logo-mob {
  display: none;
}

header .cnt-hdr-items .cnt-btn-filter {
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ececec;
  box-shadow: 0px 0px 8px 5px rgba(121, 121, 121, 0.1);
  cursor: pointer;
}

header .cnt-hdr-items .cnt-btn-filter .btn-filter {
  width: 20px;
  height: 20px;
}

header ul.ul-log-reg {
  /* position: absolute;
  display: flex;
  width: max-content;
  flex-direction: row;
  gap: 20px;
  list-style-type: none;
  margin: 0 !important;
  right: -50px; */
  position: relative;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  flex-direction: row;
  gap: 20px;
  list-style-type: none;
  margin: 0 !important;
}

header ul.ul-log-reg li {
  display: flex;
  align-items: center;
  gap: 5px;
}

header ul.ul-log-reg li:hover .ico-login {
  background: url(/images/login.svg?dc85f1b5e4949dc8ac9498bb1d7fffc8) no-repeat center/contain;
}

header ul.ul-log-reg li:hover .ico-reg {
  background: url(/images/register.svg?0b27b7ec2b77bd97fd41b51307437c4a) no-repeat center/contain;
}

header ul.ul-log-reg li:hover span {
  color: #4b5663;
  /* transition: 0.4s ease-in-out; */
}

header ul.ul-log-reg .ico-log {
  width: 25px;
  height: 25px;
}

header ul.ul-log-reg .ico-login {
  background: url(/images/login-lgt.svg?5165130587df9f1860fc5179cf2c5bdc) no-repeat center/contain;
}

header ul.ul-log-reg .ico-reg {
  background: url(/images/register-lgt.svg?55437a987bb5ff96396c014f67d0cb1e) no-repeat center/contain;
}

header ul.ul-log-reg a {
  text-decoration: none;
  color: grey;
  font-size: 1em;
}

header .container-src {
  display: none;
}

.cnt-result-adress {
  position: relative;
  width: 100%;
  top: 0;
  background: #fff;
  z-index: 1;
  padding: 0 20px;
}

.cnt-result-adress .cnt-items {
  width: 50%;
  margin: 0 auto;
  border-bottom: 1px solid #e6e6e6;
}

.cnt-result-adress .cnt-items:hover {
  transition: 0.5s ease-in-out;
  background-image: linear-gradient(to bottom, transparent 93%, #7174b6 0%);
}

.cnt-result-adress .cnt-items:hover a {
  color: #7174b6;
  transition: 0.5s ease-in-out;
}

.cnt-result-adress .cnt-items a {
  width: 100%;
  display: block;
  color: grey;
  text-decoration: none;
  padding: 20px;
}

.cnt-search,
.cnt-hdr-src {
  width: 100%;
}

.cnt-search .search,
.cnt-hdr-src .search {
  display: flex;
  position: relative;
  width: 100%;
  height: 50px;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 30px;
  align-items: center;
  padding: 0 20px;
  background-color: #fff;
  border: 1px solid #ececec;
  box-shadow: 0px 0px 8px 5px rgba(121, 121, 121, 0.1);
  gap: 20px;
}

.cnt-search .search .cnt-lens,
.cnt-search .search .cnt-fine,
.cnt-hdr-src .search .cnt-lens,
.cnt-hdr-src .search .cnt-fine {
  width: 30px;
  height: 30px;
}

.cnt-search .search .cnt-lens,
.cnt-hdr-src .search .cnt-lens {
  background: url(/images/lente.svg?961ddecce9f71114810035e04b769a37) no-repeat center;
}

.cnt-search .search .contStringSrc,
.cnt-hdr-src .search .contStringSrc {
  width: 100%;
  background-color: transparent;
  color: black;
  text-align: left;
}

.cnt-search .search .contStringSrc input,
.cnt-hdr-src .search .contStringSrc input {
  border: 0;
  -webkit-appearance: none;
  width: 100%;
  padding: 0;
  margin: 0;
  outline: none;
  text-align: left;
  border: 0;
}

.cnt-search .search .cnt-fine,
.cnt-hdr-src .search .cnt-fine {
  background-color: rgb(153, 51, 0);
  background: url(/images/fineIcon.svg?5484589d8bcac7ef1999ec5d2dda0e84) no-repeat center;
}

@media only screen and (max-width: 1024px) {
  #btn-hamburger {
    display: block;
    position: absolute;
    width: 40px;
    height: 30px;
    margin: 0;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    z-index: 1;
    cursor: pointer;
  }

  #btn-hamburger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #7174b6;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    cursor: pointer;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  #btn-hamburger span:nth-child(1) {
    top: 0px;
  }

  #btn-hamburger span:nth-child(2),
  header #btn-hamburger span:nth-child(3) {
    top: 12px;
  }

  #btn-hamburger span:nth-child(4) {
    top: 24px;
  }

  #btn-hamburger.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  #btn-hamburger.open span:nth-child(2) {
    transform: rotate(45deg);
  }

  #btn-hamburger.open span:nth-child(3) {
    transform: rotate(-45deg);
  }

  #btn-hamburger.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
}

@media only screen and (max-width: 890px) {
  .container-src {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-src .cnt-hdr-src {
    width: 100%;
  }

  .container-src .cnt-hdr-src .search {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  .cnt-result-adress .cnt-items {
    width: 100%;
  }
}

@media only screen and (max-width: 740px) {
  header .cnt-hdr-items .cnt-logo {
    width: 55px;
  }

  header .cnt-hdr-items .cnt-btn-filter {
    position: fixed;
    left: 50%;
    top: 40px;
    transform: translate(-50%, -50%);
  }

  .logo-desk {
    display: none;
  }

  .logo-mob {
    display: block !important;
  }

  .cnt-search {
    display: none;
  }
}

@media only screen and (max-width: 650px) {
  header .cnt-hdr-items .cnt-logo {
    width: 55px;
  }

  header .cnt-search {
    display: none;
  }

  header .container-src {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px !important;
  }

  header .container-src .cnt-hdr-src {
    width: 100%;
  }

  header .container-src .cnt-hdr-src .search {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  header .container-src .cnt-hdr-src .search .contStringSrc input {
    font-size: 0.8em;
  }
}

.main-usr-set-mob {
  display: flex;
}

.main-usr-set-mob ul.ul-log-reg {
  position: relative;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  flex-direction: row;
  gap: 20px;
  list-style-type: none;
  flex-direction: row !important;
  padding: 40px 0 0;
}

.main-usr-set-mob ul.ul-log-reg {
  border-top: 1px solid lightgray;
}

.main-usr-set-mob ul.ul-log-reg li {
  display: flex;
  align-items: center;
  gap: 5px;
}

.main-usr-set-mob ul.ul-log-reg li:hover .ico-login {
  background: url(/images/login.svg?dc85f1b5e4949dc8ac9498bb1d7fffc8) no-repeat center/contain;
}

.main-usr-set-mob ul.ul-log-reg li:hover .ico-reg {
  background: url(/images/register.svg?0b27b7ec2b77bd97fd41b51307437c4a) no-repeat center/contain;
}

.main-usr-set-mob ul.ul-log-reg li:hover span {
  color: #4b5663;
  /* transition: 0.4s ease-in-out; */
}

.main-usr-set-mob ul.ul-log-reg .ico-log {
  width: 25px;
  height: 25px;
}

.main-usr-set-mob ul.ul-log-reg .ico-login {
  background: url(/images/login-lgt.svg?5165130587df9f1860fc5179cf2c5bdc) no-repeat center/contain;
}

.main-usr-set-mob ul.ul-log-reg .ico-reg {
  background: url(/images/register-lgt.svg?55437a987bb5ff96396c014f67d0cb1e) no-repeat center/contain;
}

.main-usr-set-mob ul.ul-log-reg a {
  text-decoration: none;
  color: grey;
  font-size: 0.9em;
}

.main-usr-set-mob .logo-desk {
  display: none;
}

.main-usr-set-mob .logo-mob {
  display: block !important;
}

.main-usr-set {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  height: 100%;
  width: 350px;
  top: 50%;
  transform: translate(0, -50%);
  right: 20px;
}

.main-usr-set .cnt-usr-set {
  position: relative;
  width: 100%;
  right: 100px;
}

.main-usr-set .cnt-usr-set .contUlAccount {
  position: fixed;
  max-height: 0;
  /* left: 50%; */
  top: 55px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  background: #fff;
  z-index: 4;
  /* transform: translate(-50%, 0); */
}

.main-usr-set .cnt-usr-set .contUlAccount::-webkit-scrollbar {
  display: none;
}

.main-usr-set .cnt-usr-set .contUlAccount ul.ulSet-usr {
  padding: 10px;
  list-style-type: none;
}

.main-usr-set .cnt-usr-set .contUlAccount ul.ulSet-usr::-webkit-scrollbar {
  display: none;
}

.main-usr-set .cnt-usr-set .contUlAccount ul.ulSet-usr:before {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.main-usr-set .cnt-usr-set .contUlAccount ul.ulSet-usr li {
  display: flex;
  justify-content: center;
}

.main-usr-set .cnt-usr-set .contUlAccount ul.ulSet-usr li a {
  text-decoration: none;
  color: grey;
  font-size: 0.9em;
}

.main-usr-set .cnt-usr-set .ico-log {
  width: 30px;
  height: 30px;
}

.main-usr-set .cnt-usr-set .ico-login {
  background: url(/images/login-lgt.svg?5165130587df9f1860fc5179cf2c5bdc) no-repeat center/contain;
}

.main-usr-set .cnt-usr-set .ico-reg {
  background: url(/images/register-lgt.svg?55437a987bb5ff96396c014f67d0cb1e) no-repeat center/contain;
}

.main-usr-set .cnt-usr-set a {
  font-weight: 600;
  text-decoration: none;
  color: grey;
  font-size: 0.9em;
}

.main-usr-set .cnt-usr-set .cnt-arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  right: -20px;
  top: 0;
}

.main-usr-set .cnt-usr-set .cnt-arrow .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.main-usr-set .cnt-usr-set .cnt-arrow .arrow::before,
.main-usr-set .cnt-usr-set .cnt-arrow .arrow::after {
  position: relative;
  content: "";
  display: block;
  width: 10px;
  height: 1px;
  background: #7174b6;
  transition: 0.3s ease-in-out;
}

.main-usr-set .cnt-usr-set .cnt-arrow .arrow::before {
  transform: rotate(45deg);
}

.main-usr-set .cnt-usr-set .cnt-arrow .arrow::after {
  left: 6px;
  top: -1px;
  transform: rotate(-45deg);
}

.main-usr-set .cnt-usr-set #arrowUsr.active .arrow::before {
  transform: rotate(-45deg);
}

.main-usr-set .cnt-usr-set #arrowUsr.active .arrow::after {
  transform: rotate(45deg);
}

@media screen and (max-width: 820px) {
  .main-usr-set {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 250px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .main-usr-set .cnt-usr-set {
    right: auto;
  }
}

/* @import "dropDwn-menu";
@import "dashboard"; */

