.main-usr-set {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 250px;
  top: 50%;
  transform: translate(0, -50%);
  right: 40px;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
}

.main-usr-set .cnt-usr-set {
  position: relative;
  width: 100%;
}

.main-usr-set .cnt-usr-set .contUlAccount {
  position: fixed;
  max-height: 0;
  left: 50%;
  top: 55px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  background: #fff;
  z-index: 4;
  transform: translate(-50%, 0);
}

.main-usr-set .cnt-usr-set .contUlAccount::-webkit-scrollbar {
  display: none;
}

.main-usr-set .cnt-usr-set .contUlAccount ul.ulSet-usr {
  padding: 10px;
  list-style-type: none;
}

.main-usr-set .cnt-usr-set .contUlAccount ul.ulSet-usr::-webkit-scrollbar {
  display: none;
}

.main-usr-set .cnt-usr-set .contUlAccount ul.ulSet-usr:before {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.main-usr-set .cnt-usr-set .contUlAccount ul.ulSet-usr li {
  display: flex;
  justify-content: center;
}

.main-usr-set .cnt-usr-set .contUlAccount ul.ulSet-usr li a {
  text-decoration: none;
  color: grey;
  font-size: 0.9em;
}

.main-usr-set .cnt-usr-set .ico-log {
  width: 30px;
  height: 30px;
}

.main-usr-set .cnt-usr-set .ico-login {
  background: url(/images/login-lgt.svg?dd9f332e91b8436aa908f505efae312d) no-repeat center/contain;
}

.main-usr-set .cnt-usr-set .ico-reg {
  background: url(/images/register-lgt.svg?950dc65f8f6315451e3371d54df438b9) no-repeat center/contain;
}

.main-usr-set .cnt-usr-set a {
  font-weight: 600;
  text-decoration: none;
  color: grey;
  font-size: 0.9em;
}

.main-usr-set .cnt-usr-set .cnt-arrow {
  /* position: absolute;
  width: 20px;
  height: 20px;
  right: 0;
  top: 0; */
  position: absolute;
  width: 20px;
  height: 20px;
  right: -20px;
  top: 0;
}

.main-usr-set .cnt-usr-set .cnt-arrow .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.main-usr-set .cnt-usr-set .cnt-arrow .arrow::before,
.main-usr-set .cnt-usr-set .cnt-arrow .arrow::after {
  position: relative;
  content: "";
  display: block;
  width: 10px;
  height: 1px;
  background: #7174b6;
  transition: 0.3s ease-in-out;
}

.main-usr-set .cnt-usr-set .cnt-arrow .arrow::before {
  transform: rotate(45deg);
}

.main-usr-set .cnt-usr-set .cnt-arrow .arrow::after {
  left: 6px;
  top: -1px;
  transform: rotate(-45deg);
}

.main-usr-set .cnt-usr-set #arrowUsr.active .arrow::before {
  transform: rotate(-45deg);
}

.main-usr-set .cnt-usr-set #arrowUsr.active .arrow::after {
  transform: rotate(45deg);
}

@media only screen and (min-width: 0) and (max-width: 1000px) {
  /* .main-usr-set {
      ul.ul-log-reg {
          display: none;
      }
  } */
}

@media screen and (max-width: 820px) {
  .main-usr-set {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 250px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

