/* @media screen and (max-width: 1050px) { */

.subMenu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 80px;
  max-height: 0;
  overflow: hidden;
  background: white;
  transition: all 0.5s ease-in-out;
  z-index: 2;
}

.subMenu::-webkit-scrollbar {
  display: none;
}

.subMenu .contSubMenuSlide {
  padding: 50px 0;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.2);
}

.subMenu .contSubMenuSlide::-webkit-scrollbar {
  display: none;
}

.subMenu .cnt-ul {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.subMenu ul {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0 auto;
}

.subMenu ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.subMenu ul li a {
  text-decoration: none;
  color: #4b5663;
  font-size: 1.2em;
}

.subMenu .cnt-obj-hdr-mob {
  justify-content: center;
}

.subMenu .cnt-obj-hdr-mob .cnt-actions {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 30px;
  padding: 50px;
}

.subMenu .cnt-obj-hdr-mob .cnt-actions a.a-log,
.subMenu .cnt-obj-hdr-mob .cnt-actions a.a-reg {
  font-size: 0.8em;
  font-weight: 400;
  text-decoration: none;
  color: #666565;
}

.subMenu .cnt-obj-hdr-mob .cnt-actions a .obj-actions {
  height: 100%;
  background-color: #af69ff;
  /*! margin-bottom: 5px; */
}

.subMenu .cnt-obj-hdr-mob .cnt-actions a .ico {
  width: 30px;
  height: 30px;
  background-color: violet;
}

.subMenu .cnt-obj-hdr-mob .cnt-actions a .aprt {
  background: url(/images/ico-dash-lgt.svg?ab50abde4e770438b5ee75c3c8bd8a81) no-repeat center/contain;
}

.subMenu .cnt-obj-hdr-mob .cnt-actions a .msg {
  background: url(/images/ico-msg-lgt.svg?2f27bcccd88acfc59f31d45313533b59) no-repeat center/contain;
}

.subMenu .cnt-obj-hdr-mob .cnt-actions a .ads {
  background: url(/images/ico-ads-lgt.svg?c413114ea8e47bc421a3f866863d2079) no-repeat center/contain;
}

.subMenu .cnt-obj-hdr-mob .cnt-actions a .stcs {
  background: url(/images/ico-stcs-lgt.svg?2b9c4ae8d9df3c6be0f369e2c0d4ebee) no-repeat center/contain;
}

/* #contLabelTop {
    position: relative;
    width: 100%;
    height: 32px;
    background-color: white;
    cursor: pointer;
} */

/* } */

@media only screen and (max-width: 480px) {
  .main-usr-set-mob {
    display: flex;
    justify-content: center;
  }

  .main-usr-set-mob ul.ul-log-reg {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
    flex-direction: row !important;
    padding: 40px 0 0;
  }

  .main-usr-set-mob ul.ul-log-reg {
    border-top: 1px solid lightgray;
  }

  .main-usr-set-mob ul.ul-log-reg li {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .main-usr-set-mob ul.ul-log-reg li:hover .ico-login {
    background: url(/images/login.svg?dc85f1b5e4949dc8ac9498bb1d7fffc8) no-repeat center/contain;
  }

  .main-usr-set-mob ul.ul-log-reg li:hover .ico-reg {
    background: url(/images/register.svg?0b27b7ec2b77bd97fd41b51307437c4a) no-repeat center/contain;
  }

  .main-usr-set-mob ul.ul-log-reg li:hover span {
    color: #4b5663;
    /* transition: 0.4s ease-in-out; */
  }

  .main-usr-set-mob ul.ul-log-reg .ico-log {
    width: 30px;
    height: 30px;
  }

  .main-usr-set-mob ul.ul-log-reg .ico-login {
    background: url(/images/login-lgt.svg?5165130587df9f1860fc5179cf2c5bdc) no-repeat center/contain;
  }

  .main-usr-set-mob ul.ul-log-reg .ico-reg {
    background: url(/images/register-lgt.svg?55437a987bb5ff96396c014f67d0cb1e) no-repeat center/contain;
  }

  .main-usr-set-mob ul.ul-log-reg a {
    font-weight: 600;
    text-decoration: none;
    color: grey;
    font-size: 0.9em;
  }
}

