@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

[class*="col-"] {
    /* flex-direction: grow basis width; */
    /* flex-direction: 0 0 auto; */
}

.row {
    display: flex;
}

.col-1 {
    flex-basis: calc((100% / 12) * 1);
}

.col-2 {
    flex-basis: calc((100% / 12) * 2);
}

.col-3 {
    flex-basis: calc((100% / 12) * 3);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-5 {
    flex-basis: calc((100% / 12) * 5);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-7 {
    flex-basis: calc((100% / 12) * 7);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-9 {
    flex-basis: calc((100% / 12) * 9);
}

.col-10 {
    flex-basis: calc((100% / 12) * 10);
}

.col-11 {
    flex-basis: calc((100% / 12) * 11);
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
}

.d-flx {
    display: flex;
}

.flx-dr-col {
    flex-direction: column;
}

.w-auto {
    width: auto;
}

.h-vh {
    height: 100vh;
}

.gp-5 {
    gap: 5px;
}

.gp-10 {
    gap: 10px;
}

.gp-15 {
    gap: 15px;
}

.gp-20 {
    gap: 20px;
}

.gp-25 {
    gap: 25px;
}

.gp-30 {
    gap: 30px;
}

.jc-c {
    justify-content: center;
}

.w-100 {
    max-width: 100%;
}

.txt-c {
    font-weight: 600;
    margin: 0 15px;
    text-align: center;
}

.m-tb {
    margin: 10px 0;
}

.pd-20 {
    padding: 20px !important;
}

.pd-20-lr {
    padding: 0 20px !important;
}

.red {
    color: red !important;
}.cnt-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.cnt-logo img {
  width: 90%;
}

