a {
  color: #af9eff;
  text-decoration: none;
  font-weight: bold;
}

a a:hover {
  color: #d1c6ff;
  text-decoration: none;
  cursor: pointer;
}

.cnt-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 150px;
}

.cnt-logo img {
  width: 90%;
}

